@model IEnumerable<AdminWeb.Models.DataModels.CommentDataModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/assets/global/css/PipoStyle.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet">
}
@{string RootUser = ViewBag.RootUserName; }
@section js_Requested
{
    <script src="~/Content/assets/global/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
    <script src="~/Content/assets/global/js/pages/table_dynamic.js"></script>
    <script src="~/Content/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Content/assets/global/js/pages/notifications.js"></script>
    <script>
        jQuery(document).ready(function () {
            generate('top', '.page-content', '', '@ViewBag.Notification', 'topbar');
        });
        $("a[id^='PipoModalLink_']").click('action', function () {
            var temp = $(this).attr('id').split("_");
            var myid = temp[1];

            $("#PipoModalBody").empty();
            $("#PipoModalBody").append('<p> @Resource.Resource.View_AreYouShure' + ' (#' + myid + ')</p>');
            var $self = $("#PipoModalForm");
            $self.attr('action', '/Comments/CommentsChangeStatus?ID=' + myid + "&F_MenuID=" + '@ViewBag.F_MenuID');
        });
    </script>
    @*<script>
        $("#insert-more").click(function () {
            $("#mytable").each(function () {
                var tds = '<tr>';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + $(this).html() + '</td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });
        });

    </script>
    <style>
        .sponsors table,
        .sponsors tbody, /*  You need to force tbody to display block, too. */
        .sponsors thead,
        .cakecontent tbody,
        .sponsors th,
        .sponsors td,
        .sponsors tr {
            display: block;
            margin-right: auto;
            margin-left: auto;
            border: green 1px solid;
        }
    </style>*@
}
<div class="row">
    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-content">
                <table class="table dataTable" id="table2">
                    <thead>
                        <tr>
                            <th class="" tabindex="0" rowspan="1" colspan="1" style="width: 10px;">
                                @Resource.Resource.Comments_Text
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 10px;display:none;">

                            </th>
                            <th class="sorting_desc text-center" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">
                                @Resource.Resource.Comments_CreatedDateOnUtc
                            </th>
                            <th class="sorting text-center" tabindex="0" rowspan="1" colspan="1" style="width: 241px;">
                                @Resource.Resource.Comments_NumberOfReplies
                            </th>
                            <th class="sorting text-center" tabindex="0" rowspan="1" colspan="1" style="width: 171px;">
                                @Resource.Resource.Comments_NumberOfLikes
                            </th>
                            <th class="sorting text-center" tabindex="0" rowspan="1" colspan="1" style="width: 171px;">
                                @Resource.Resource.Comments_NumberOfDisLikes
                            </th>
                            <th class="sorting text-center" tabindex="0" rowspan="1" colspan="1" style="width: 171px;">
                                @Resource.Resource.Comments_Tools
                            </th>
                        </tr>
                    </thead>



                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model)
                        {
                            <tr class="gradeA odd">
                        @{ 
                            string Pipohref = "";
                            if (item.Posts != null)
                            {
                                Pipohref = System.Configuration.ConfigurationManager.AppSettings["WebsiteAddress"] + RootUser.ToLower() + "/" + item.Posts.Language + "/Post/PostDetail/" + item.Posts.ID;
                            }
                        }
                                <td class="text-center"><div style="height: 40px;overflow: hidden;">@item.Text</div></td>
                                <td class="text-center" style="display:none;"><a target="_blank" href="@Pipohref">@(item.Posts != null ? item.Posts.Tittle : "")</a></td>
                                <td class="text-center">@AdminWeb.Models.BLL.Tools.GetDateTimeReturnJalaliDate(item.CreatedDateOnUTC)</td>
                                <td class="text-center">@item.NumberOfReply</td>
                                <td class="text-center ">@item.NumberOfLikes</td>
                                <td class="text-center ">@item.NumberOfDislikes</td>
                                <td class="text-center ">
                                    @{string SIcon = "";}
                                    @if (item.Dispaly)
                {
                    SIcon = "glyphicon glyphicon-check";
                }
                else
                {
                    SIcon = "glyphicon glyphicon-unchecked";
                }
                                    <a id="PipoModalLink_@item.ID" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#modal-basic" data-placement="top" title="تغییر وضعیت نمایش"><i class="@SIcon" data-toggle="modal" data-target="#PipoModal"></i></a>
                                </td>


                            </tr>


                                        }

                    </tbody>


                </table>

            </div>

        </div>
    </div>
</div>
<!-- BEGIN MODALS -->
<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h2 class="modal-title"><strong>هشدار</strong></h2>
            </div>
            <div id="PipoModalBody" class="modal-body">
                آیا از انجام عملیات مورد نظر اطمینان خاطر دارید ؟<br>
            </div>
            @using (Html.BeginForm("ChangeStatusComments", "Comments", new { SlideId = "_postid_" }, FormMethod.Post, new { Id = "PipoModalForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary btn-embossed">بله</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- END MODALS -->