@model AdminWeb.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/input-text/style.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/css/PipoStyle.css" rel="stylesheet" />
}

@section js_Requested
{
    <script src="~/Content/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Content/assets/global/js/pages/notifications.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            generate('top', '.page-content', '', '@ViewBag.Notification', 'topbar');
        });
    </script>
}
<div class="row">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12 portlets">
            <div class="panel">
                <div class="panel-header panel-controls">
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2">
                            <div class="row margin-top-30">
                                <fieldset>
                                    <legend>
                                        @Resource.Resource.View_ChangePassword<span class="symbol required"></span>
                                    </legend>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label style="float:right;">@Html.DisplayNameFor(model => model.OldPassword)</label>
                                            @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control form-white", @placeholder = "کلمه عبور فعلی را وارد کنید", @type = "password", required = "" })
                                            @Html.ValidationMessageFor(model => model.OldPassword)
                                        </div>
                                        <div class="form-group">
                                            <label style="float:right;">@Html.DisplayNameFor(model => model.NewPassword)</label>
                                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control form-white", @placeholder = "کلمه عبور جدید را وارد کنید", @type = "password", required = "" })
                                            @Html.ValidationMessageFor(model => model.NewPassword)
                                        </div>
                                        <div class="form-group">
                                            <label style="float:right;">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control form-white", @placeholder = "مجددا کلمه عبور جدید را وارد کنید", @type = "password", required = "" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        </div>
                                    </div>
                                    <div style="text-align:center">
                                        <button type="submit" class="btn btn-success ladda-button" data-style="expand-right" style="width:100%;margin-top: 20px;">
                                            <span class="ladda-label">@Resource.Resource.Edit</span>
                                        </button>
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>