@model IEnumerable<AdminWeb.Models.DataModels.AttributeGroupNew>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/input-text/style.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/step-form-wizard/css/step-form-wizard.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/css/PipoStyle.css" rel="stylesheet" />
}

@section js_Requested
{
    <script src="~/Content/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Content/assets/global/js/pages/notifications.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
    <script src="~/Content/assets/global/js/pages/table_dynamic.js"></script>
    <script>
        jQuery(document).ready(function () {
            generate('top', '.page-content', '', '@ViewBag.Notification', 'topbar');
        });
    </script>
}
<div class="row">
    <div class="col-md-12">
        @if (Model.Count() > 0)
        {
            <div class="panel">
                <div class="panel-header panel-controls">
                </div>
                <div class="panel-content">
                    <div class="nav-tabs2">
                        <div class="tab-content" style="background-color:white">
                            <table class="table table-hover table-dynamic">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>نام</th>
                                        <th class="text-center">ترتیب</th>
                                        <th class="text-center">عملیات</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @GetItems(Model, "")
                                    @helper GetItems(IEnumerable<AdminWeb.Models.DataModels.AttributeGroupNew> child, string parrentName)
                                    {

foreach (var c in child)
{
        <tr>
            <td>@c.ID</td>
            @if (string.IsNullOrEmpty(parrentName))
            {
                <td>@c.Name </td>
            }
            else
            {
                <td>@parrentName > @c.Name</td>
            }
            <td class="text-center">@c.Weight</td>
            <td class="text-center">
                <a class="edit btn btn-sm btn-default" title="ویرایش" href="@Url.Action("Edit", "AttributeGroupe", new { ID = c.ID,F_MenuID=ViewBag.F_MenuID  })"><i class="icon-note"></i></a>
                <a class="edit btn btn-sm btn-default" title="لیست ویژگی ها" href="@Url.Action("List", "Attribute", new { ID = c.ID })"><i class="fa fa-sitemap"></i></a>
                <a class="edit btn btn-sm btn-default" title="افزودن زیر گروه ویژگی" href="@Url.Action("Add", "AttributeGroupe", new { ID = ViewBag.F_MenuID, F_AttributeGroup_ID = c.ID })"><i class="fa fa-plus-square-o"></i></a>
            </td>
        </tr>
        @GetItems(c.AttributeGroup1, (string.IsNullOrEmpty(parrentName) ? "" : parrentName + " > ") + c.Name);
}



}
                                    @*@foreach (var item in Model)
                                        {

                                           @GetItems(item,"ss")
                                            @*var PipoModel = Model;
                                            var NameObj = item;
                                            string MenuName = "";
                                            while (NameObj != null && NameObj.F_AttributeGroupID != null)
                                            {
                                                MenuName = NameObj.Name + " < " + MenuName;
                                                NameObj = NameObj.AttributeGroup2;
                                            }
                                            MenuName = NameObj != null ? MenuName + NameObj.Name : MenuName;
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@string.Join(" > ", MenuName.Split('<').Reverse())</td>
                                                <td class="text-center">@item.Weight</td>
                                                <td class="text-center">@item.Depth</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-sm btn-default" title="ویرایش" href="@Url.Action("Edit", "AttributeGroupe", new { ID = item.ID })"><i class="icon-note"></i></a>
                                                    <a class="edit btn btn-sm btn-default" title="لیست ویژگی ها" href="@Url.Action("List", "Attribute", new { ID = item.ID })"><i class="fa fa-sitemap"></i></a>
                                                    <a class="edit btn btn-sm btn-default" title="افزودن زیر گروه ویژگی" href="@Url.Action("Add", "AttributeGroupe", new {ID=item.F_MenuID,F_AttributeGroup_ID=item.F_AttributeGroupID })"><i class="fa fa-plus-square-o"></i></a>
                                                </td>
                                            </tr>*@
                                    @*}*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel">
                <div class="panel-content text-center">
                    <span style="font-size: 20px;color: red;">تا کنون گروه ویژگی توسط شما ایجاد نشده !</span>
                </div>
            </div>
        }
    </div>
</div>
