@model IEnumerable<AdminWeb.Models.DataModels.ProfileRegisterDataModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/input-text/style.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/step-form-wizard/css/step-form-wizard.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/css/PipoStyle.css" rel="stylesheet" />
}

@section js_Requested
{
    <script src="~/Content/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Content/assets/global/js/pages/notifications.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
    <script src="~/Content/assets/global/js/pages/table_dynamic.js"></script>
    <script>
        jQuery(document).ready(function () {
            generate('top', '.page-content', '', '@ViewBag.Notification', 'topbar');
        });
    </script>
}
<div class="row">
    <div class="col-md-8 col-md-push-2">
        @if (Model.Count() > 0)
        {
            <div class="panel">
                <div class="panel-header panel-controls">
                </div>
                <div class="panel-content">
                    <div class="nav-tabs2">
                        <div class="tab-content" style="background-color:white">
                            <div class="panel-content pagination2 table-responsive">
                                <table class="table table-hover table-dynamic">
                                    <thead>
                                        <tr>
                                            <th>شناسه</th>
                                            <th>نام کاربری</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.UserID</td>
                                                <td>@item.UserName</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-sm btn-default" title="تخصیص  سطح دسترسی به کاربر" href="@Url.Action("AssignRollGroupToUser", "Roll", new { UserID = item.UserID })"><i class="fa fa-users"></i></a>
                                                    <a class="edit btn btn-sm btn-default" title="تخصیص دسترسی به کاربر" href="@Url.Action("AssignRollToUser", "Roll", new { UserID = item.UserID })"><i class="fa fa-lock"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="panel">
                <div class="panel-content text-center">
                    <span style="font-size: 20px;color: red;">تا کنون کاربری توسط شما ایجاد نشده !</span>
                </div>
            </div>
        }
    </div>
</div>

