@model AdminWeb.Models.DataModels.FolderModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/input-text/style.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/step-form-wizard/css/step-form-wizard.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/css/PipoStyle.css" rel="stylesheet" />
}

@section js_Requested
{
    <script src="~/Content/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Content/assets/global/js/pages/notifications.js"></script>
    <script>
        jQuery(document).ready(function () {
            generate('top', '.page-content', '', '@ViewBag.Notification', 'topbar');
        })
    </script>
}
<div class="row">
    <div class="col-md-8 col-md-push-2 portlets">
        <div class="panel">
            <div class="panel-header panel-controls">
            </div>
            <div class="panel-content">
                <div class="row" style="margin-top:20px;">
                    <div id="AppendedAdd" class="col-md-8 col-md-push-2">
                        @using (Html.BeginForm("EditFolder", "Gallery", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <legend>
                                    @Resource.Resource.View_EditFolder <span class="symbol required"></span>
                                </legend>
                                <input name="InsertedFolderName" placeholder="@Resource.Resource.View_EnterFolderName" id="form-field-13" class="form-control pull-right" style="width:70%;" value="@Model.FolderName" />
                                @Html.HiddenFor(model => model.FolderName)
                                <button type="submit" class="btn btn-primary">
                                    <span class="ladda-label">@Resource.Resource.Edit</span>
                                    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                                </button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
